.game-wrapper {
  background-image: url(../assets/img/greenhouse/greenhouse.jpg);
}

#instructionModal {
  display: none;
}

#instructionElementometer {
  display: none;
}

.game-item {
  z-index: 10;
}
/* quest pots */
.fire-pot {
  width: 55px;
  height: 107px;
  top: 60%;
  right: 14.9%;
}

.air-pot {
  width: 75px;
  height: 100px;
  top: 64%;
  right: 1.75%;
}

.metal-pot {
  width: 60px;
  height: 80px;
  bottom: 25%;
  left: 27%;
}
.water-pot {
  width: 60px;
  height: 110px;
  bottom: 25%;
  left: 12.95%;
}
/* other items */
.bottle1 {
  width: 15px;
  height: 32px;
  top: 75%;
  right: 14.2%;
}
.bottle2 {
  width: 15px;
  height: 40px;
  top: 74%;
  right: 11.55%;
}

.pot1 {
  width: 60px;
  height: 100px;
  top: 57%;
  right: 4.75%;
}

.pot-stand {
  width: 220px;
  height: 100px;
  bottom: 2%;
  right: 2.75%;
}
.plant1 {
  width: 130px;
  height: 85px;
  bottom: 1%;
  right: 1.75%;
  border-top-left-radius: 7rem;
}
.plant2 {
  width: 60px;
  height: 50px;
  bottom: 0%;
  right: 14.25%;
  border-radius: 7rem 7rem 0 0;
}
.plant3 {
  width: 120px;
  height: 52.5px;
  bottom: 0%;
  right: 19.2%;
  border-radius: 3rem 7rem 0 0;
}
.plant4 {
  width: 100px;
  height: 120px;
  bottom: 7%;
  right: 25.25%;
}

.plant5 {
  width: 70px;
  height: 100px;
  bottom: 7%;
  right: 50%;
  border-radius: 7rem;
}
.plant6 {
  width: 60px;
  height: 70px;
  bottom: 22%;
  right: 48.25%;
  border-radius: 3rem 0 2.5rem 0;
}
.plant7 {
  width: 40px;
  height: 62px;
  bottom: 17%;
  right: 56.25%;
  border-radius: 0 0 2.5rem 2.5rem;
}
.plant8 {
  width: 77.5px;
  height: 47.5px;
  bottom: 20%;
  right: 60.85%;
  border-radius: 0 0 2.5rem 2.5rem;
}
.plant9 {
  width: 60px;
  height: 70px;
  bottom: 12%;
  right: 64.85%;
  border-radius: 2.5rem 7.5rem 7.5rem 2.5rem;
}

.plant10 {
  width: 73px;
  height: 85px;
  bottom: 28%;
  left: 20.25%;
  border-radius: 10px 10px 2.5rem 2.5rem;
}

.plant11 {
  width: 70px;
  height: 100px;
  bottom: 30%;
  left: 3.95%;
}
.plant12 {
  width: 130px;
  height: 160px;
  bottom: 2.75%;
  left: 0%;
}
.plant13 {
  width: 120px;
  height: 70px;
  bottom: 0%;
  left: 10%;
  border-top-right-radius: 7rem;
}
.plant14 {
  width: 70px;
  height: 98px;
  bottom: 2.5%;
  left: 35%;
  border-top-right-radius: 2rem;
}
.left-drawer {
  width: 80px;
  height: 40px;
  bottom: 12%;
  left: 15.5%;
  transform: rotate(-3deg);
}
.right-drawer {
  width: 55px;
  height: 35px;
  bottom: 13%;
  left: 23.5%;
  transform: rotate(-4deg);
}
.lamp {
  width: 62px;
  height: 270px;
  bottom: 7%;
  right: 22.25%;
  border-radius: 10px 10px 50% 50%;
}

.door-right-column {
  width: 40px;
  height: 90px;
  bottom: 7%;
  right: 32.5%;
  border-radius: 10px 10px 7rem 10px;
}
.steps {
  width: 110px;
  height: 58px;
  bottom: 7%;
  right: 36.95%;
}
.right-door {
  width: 70px;
  height: 215px;
  bottom: 17%;
  right: 35.5%;
}
.left-door {
  width: 65px;
  height: 215px;
  bottom: 17%;
  right: 41.95%;
}
.door-left-column {
  width: 40px;
  height: 88px;
  bottom: 7%;
  right: 47.25%;
}

.puzzle-wrapper {
  display: grid;
  place-items: center;
}
#elementometer-container {
  background-image: url('../assets/img/greenhouse/elementometer.png');
  width: 80%;
  height: 80%;
}

.puzzle-frame {
  display: none;
}

.puzzle-frame:nth-of-type(1) .frame {
  background-image: url(../assets/img/greenhouse/01element.png);
}
.puzzle-frame:nth-of-type(2) .frame {
  background-image: url(../assets/img/greenhouse/02element.png);
}
.puzzle-frame:nth-of-type(3) .frame {
  background-image: url(../assets/img/greenhouse/03element.png);
  opacity: 1;
}
.puzzle-frame:nth-of-type(4) .frame {
  background-image: url(../assets/img/greenhouse/04element.png);
}
.puzzle-frame:nth-of-type(5) .frame {
  background-image: url(../assets/img/greenhouse/05element.png);
}

.quest-item-wrapper {
  flex-direction: column;
}

.quest-item {
  border-radius: 50%;
  pointer-events: none;
  z-index: 500;
}

.quest-item:hover {
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 0, 0.9));
}

.quest-item:nth-of-type(1) {
  background-image: url(../assets/img/greenhouse/01element.png);
}
.quest-item:nth-of-type(2) {
  background-image: url(../assets/img/greenhouse/02element.png);
}
.quest-item:nth-of-type(3) {
  background-image: url(../assets/img/greenhouse/04element.png);
}
.quest-item:nth-of-type(4) {
  background-image: url(../assets/img/greenhouse/05element.png);
}
